Django==2.1.5
django-markdown==0.8.4
django-markdown-deux==1.0.5
django-pagedown==1.0.6
django-pure-pagination==0.3.0
django-uuslug==1.1.8
Markdown==3.0.1
markdown2==2.3.7
Pillow==5.4.1
python-slugify==2.0.1
pytz==2018.9
sorl-thumbnail==12.5.0
Unidecode==1.0.23
mysqlclient==1.4.1
