/* Override Bootstrap's default styles */
.navbar-brand {
    padding: 5px 15px;
}

.navbar-default {
    border-bottom-color: #f1eeff;
    margin-bottom: 40px;
}

.navbar-default .navbar-nav>.active>a {
    color: #fff;
    background-color: #428bca;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #3670a2;
}

.navbar-default .navbar-nav>li>a {
    color: #428bca;
    border-radius: 4px;
    font-size: 18px;
}

.navbar-default .navbar-nav>li>a:hover
{
    box-shadow: inset 0 -60px 0 #3670a2,
    2px 2px 3px rgba(119,180,241,0.3);
    color: #FFF;
    transition: 0.4s ease-in-out;
}

.navbar-nav>li {
    padding: 2px 2px;
}

.navbar-nav>li >a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 3px;
}

.badge {
    background-color: #fff;
    border: 1px solid #428bca;
    color: #428bca;
    border-radius: 4px;
}

.checkbox {
    margin-bottom: 0;
    color: red;
}

.panel-default {
    border-color: #f1eeff;
    box-shadow: 0 0 0 rgba(0,0,0,0)
}

.panel-default>.panel-heading {
    background-color: #f1eeff;
}

.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: 0;
}

pre {
    border: 0;
}

.panel-body {
    padding: 5px 15px;
}

.btn-primary:hover{
    color:#fff;
    background-color:#3670a2;
    border-color:#357ebd
}

h1 {
    font-size: 30px;
    margin-top: 0;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* --------------------------- My styles -------------------------- */

.article {
    margin: 0 0 15px 0;
	padding: 0px 10px 5px 10px;
    overflow: hidden;
    border-left: 1px solid #f1eeff;
    border-bottom: 1px solid #f1eeff;
    border-bottom-left-radius: 4px;
}

#last_article,
#side_archive,
#categories,
#side_apps {
    margin: 0 0 5px 0;
    overflow: hidden;
}

div.article_text {
    font-size: 16px;
}

a.no_style_atitle {
    text-decoration: none;
    /*color: inherit;*/
}

a.no_style_atitle:hover {
    text-decoration: underline;
}

hr {
    border-color: #f1eeff;
}

.inp_form{
    border: 1px solid #428bca;
    width: initial;
    font-weight: normal;
}

.inp_form_text {
    border: 1px solid #428bca;
    resize: vertical;
    font-weight: normal;
}

.no_margin {
    margin: 0;
}

.ol_unstyled {
    list-style-type: none;
}

.pad_bot {
    padding-bottom: 10px;
}

.navbar-nav>li >a {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 6px;
}

img.art_img {
    float: left;
    margin: 0 10px 5px 0;
}

.img_inp {
    font-weight: normal;
}

.label-size {
    font-size: 50%;
    vertical-align: middle;
    background-color: #989898;
}

img.image-about {
    float: left;
    margin-right: 20px;
    height: 230px;
    width: 230px;
}

.pad-right {
    margin: 0 240px;

}

.social-but {
    margin-bottom: 10px;
    padding-right: 0;
    text-align: right;
}

img {
    max-width: 100%;
}

p img {
    display: block;
    margin: 0 auto;
}

img.scroll {
    width: 80%;
    height: 40px;
}

img.site-logo {
    width: 150px;
    height: 40px;
}

img.py-dj {
    width: 50px;
    height: 20px;
}

img.icon {
    width: 25px;
    height: 25px;
}

.color-grey {
    color: grey;
}

.pad-bot10 {
    padding: 0 0 10px 0;
}

.pad-right15 {
    padding-right: 15px;
}

.font-s12 {
    font-size: 12px;
}
/*-------------------- Share social buttons -------------*/
.ya-share2 {
    margin-bottom: 10px;
}

/*-------------------- Override pagedown's styles -------------- */
.wmd-panel {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
}

blockquote {
    background: url(../img/open-quote.png) 0 0 no-repeat;
    font-style: italic;
    padding: 1px 20px 0 50px;
}

code.hljs {
    font-size: 14px;
}

/*-------------------- Scroll btn -------------*/
.up_btn{
    position: absolute;
    height: 100%;
	clip: rect(0px, 43px, 1000000px, 3px);
}

#scroll_btn {
    position: fixed;
    width: 50px;
    height: 100%;
	margin: 20px 0 0 3px;
	opacity: 0.6;
    z-index: 1001;
}

#scroll_btn img{
	cursor: pointer;
    display: none;
}

.test360 {
    width: 360px;
    height: 360px;
}
