{% extends 'base.html' %}

{% block title %}Поиск &#187; IGRIK {% endblock %}

{% block content %}
<!--<form method="get" action=".">
  <div class="form-group col-sm-6" style="padding-left: 0">
    <input type="text" class="form-control srch_form" name="q"  placeholder="Что искать?" value="{{ form.q.value }}">
  </div>
  <button type="submit" class="btn btn-primary srch-btn">Найти</button>
</form>                
<br>-->
<div class="article">
  <h3 class="pad_bot no_margin">Результаты поиска:</h3>
  <ol class="ol_unstyled">
{% for result in page.object_list %}
    <li class="pad_bot">
    {{ result.object.article_datetime|date:"d-m-Y" }} | <a href="{% url "blog:article_fully" result.object.category.cat_slug result.object.slug %}">{{ result.object.article_title }}</a>
    </li>
{% empty %}
    <li class="pad_bot">Поиск не дал результатов.</li>
{% endfor %}
  </ol>
</div>
{% if page.has_previous or page.has_next %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 text-center">
      <ul class="pagination">
      {% if page.has_previous %}
      <li><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
{% for p in paginator.page_range %}
    {% ifequal p page.number %}
      <li class="active"><span>{{ p }}</span></li>
    {% else %}
      <li><a href="?q={{ query }}&amp;page={{ p }}">{{ p }}</a></li>
    {% endifequal %}
{% endfor %}
     
      {% if page.has_next %}
      <li><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}