{% load staticfiles i18n %}

<div id="last_article">
  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseLastArticles">
      <div class="panel-heading">
        <h4 class="panel-title">{% trans "Last articles" %}</h4>
      </div>
    </a>
<div id="collapseLastArticles" class="panel-collapse collapse out">
  <div class="panel-body">
    {% if last_articles|length > 0 %}	
    <ul>
	    {% for article in last_articles %}
	    <li><a href="{% url "blog:article_detail" article.category.slug article.slug %}">{{ article.article_title }}</a>
        {% if article.is_private %}<img class="hidden-ico" src="{% static "img/hidden.png" %}">{% endif %}</li>
		{% endfor %}
	</ul>
    {% else %}
      <div class="alert alert-info">{% trans "Coming soon" %}</div>
    {% endif %}
  </div>
</div>
  </div>
</div>
