{% load i18n %}

<div id="categories">
 <div class="panel panel-default">
  <div class="panel-heading">
<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseCategory">{% trans "Categories" %}</a></h4>
  </div>
<div id="collapseCategory" class="panel-collapse collapse in">
  <div class="panel-body">
     {% if list_cats|length > 0 %}
      <ul>
           {% for category in list_cats %}
           <li><a href="{% url "blog:category_list" category.slug %}">{{ category.name }} ({{ category.count_post }})</a></li>
           {% endfor %}
      </ul>
     {% else %}
      <div class="alert alert-info">{% trans "Coming soon" %}</div>
     {% endif %}
  </div>
</div>
  </div>
</div>
