{% load i18n %}

<div id="tags_cloud">
 <div class="panel panel-default">
   <a data-toggle="collapse" data-parent="#accordion" href="#collapseTagsCloud">
     <div class="panel-heading">
       <h4 class="panel-title">{% trans "Tags" %}</h4>
     </div>
   </a>
<div id="collapseTagsCloud" class="panel-collapse collapse out">
  <div class="panel-body">
{% if cloud_tags|length > 0 %}
<div id="tagCloudContainer">
    <canvas width="230" height="307" id="tagCloud">
      <ul id="tags">
          {% for tag in cloud_tags %}
          {{ tag.tag.all }}
          <li><a href="{% url 'blog:tag_list' tag.slug %}">{{ tag.name|capfirst }}</a></li>
          {% endfor %}
      </ul>
    </canvas>
</div>
{% else %}
    <div class="alert alert-info">{% trans "Coming soon" %}</div>
{% endif %}
  </div>
</div>
  </div>
</div>
