{% extends 'base.html' %}
{% load staticfiles markdown_deux_tags i18n %}

{% block title %}{{ article.article_title }} &#187; IGRIK{% endblock %}

{% block content %}
		<div class="article">
		<h1 class="no_margin">{{ article.article_title }}</h1>
		<h5 class="text-right">{% trans "Category" %}: <a href="{% url "blog:category_list" article.category.slug %}">{{ article.category }}</a></h5>
        <h6 class="text-right">{% trans "Publication date" %}: {{ article.article_datetime }}</h6><hr>
		<div class="article_text">
        {{ article.article_text|markdown }}
        </div>
        <hr>

        <div class="row" style="padding: 0 0 10px 0;">
        <div class="col-sm-5">
        <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,lj"></div>
        </div>
    
	        {% if user.is_superuser %}
               <div class="col-sm-offset-5 col-sm-2 text-right">
                <a style="padding-right:15px;" href="{% url "blog:article_update" article.slug %}"> <img src="{% static "img/update_art.png" %}" width="25" height="25" alt="{% trans "Edit" %}"></a>
                <a href="{% url "blog:article_delete" article.slug %}"> <img src="{% static "img/del_art.png" %}" width="25" height="25" alt="{% trans "Delete" %}"></a>
               </div>
            {% endif %}
        </div>

            <div class="row"> 
                {% if previous_article %}
                {% if previous_article.slug != article.slug %}
                <div class="col-sm-6"><a href="{% url "blog:article_detail" previous_article.category.slug previous_article.slug %}">&laquo;&laquo;&laquo; {{ previous_article }}</a></div>
                {% endif %}
                {% endif %}
                
                {% if next_article %}
                {% if next_article.slug != article.slug %}
                <div class="col-sm-6"><a href="{% url "blog:article_detail" next_article.category.slug next_article.slug %}">&raquo;&raquo;&raquo; {{ next_article }}</a></div>
                {% endif %}
                {% endif %}
            </div>
        </div>
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = window.location.href;  
this.page.identifier = window.location.pathname;
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//igrik-pythonanywhere-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>   
{% endblock %}

