{% extends 'base.html' %}
{% load staticfiles my_tags i18n %}

{% block title %}{% trans "Articles archive" %} &#187; IGRIK{% endblock %}

{% block nav_menu %}
          <li><a href="{% url "blog:articles_main" %}">{% trans "Articles" %}</a>
          <li class="active"><a href="{% url "blog:article_archive" %}">{% trans "Archive" %}</a>
	 	  <li><a href="{% url "about" %}">{% trans "Author" %}</a>
{% endblock nav_menu %}

{% block content %}
   
<div class="article">
    <h3 class="pad_bot no_margin">{% trans "Articles archive" %}:</h3>
{% if articles_archive|length > 0 %}	    
    <ol class="ol_unstyled">
    {% for article in articles_archive %}
		<li class="pad_bot">{{ article.article_datetime|date:"d-m-Y" }} | <a href="{% url "blog:article_detail" article.category.slug article.slug %}">
		{{ article.article_title }}</a> {% if article.is_private %}<img class="hidden-ico" src="{% static "img/hidden.png" %}">{% endif %}</li>
	{% endfor %}
	</ol>
{% else %}
    <div class="alert alert-info">{% trans "Soon there will be something interesting" %}!</div>
{% endif %}
</div>
{% endblock %}
