{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Категория "{{ categories|lower }}" &#187; IGRIK{% endblock %}

{% block content %}
<div class="article">
  <h3 class="pad_bot no_margin">Категория: {{ categories|lower }}</h3>
    <ol class="ol_unstyled">
    {% if user.is_superuser %}
    {% for article in categories.category.all %}
        <li class="pad_bot">{{ article.article_datetime|date:"d-m-Y" }} | <a href="{% url "blog:article_detail" article.category.slug article.slug %}">{{ article.article_title }}</a></li>
    {% empty %}
        <p>Скоро тут появится что-нибудь интересное!!!</p>
	{% endfor %}
    
    {% else %}
    
    {% for article in categories.category.public_articles %}
        <li class="pad_bot">{{ article.article_datetime|date:"d-m-Y" }} | <a href="{% url "blog:article_detail" article.category.slug article.slug %}">{{ article.article_title }}</a></li>
    {% empty %}
        <p>Скоро тут появится что-нибудь интересное!!!</p>
	{% endfor %}
    {% endif %}
    </ol> 
</div>
{% endblock %}


