<!DOCTYPE html>
{% load staticfiles my_tags i18n %}
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="igrik" />
        <meta name="keywords" content="Python, Django, блог, веб разработка, web" />
        <meta name="description" content="Блог веб разработчика Python/Django" />
        
    	<title>{% block title %}IGRIK {% trans "blog" %} &#187; {% trans "Main" %} {% if page_obj.paginator.num_pages > 1 %}&#187; {{page_obj.number}} {% trans "page" %}{% endif %}{% endblock %}</title>
        <link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="image/png">
        {% block extends_styles %} {% endblock extends_styles %}
		{% block styles %}
    	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "syntax/styles/github.css" %}">
        <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "syntax/highlight.pack.js" %}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
		{% endblock styles %}
    </head>
  
<body>
{% block scroll_up %}
    <div class="up_btn">
	    <div id="scroll_btn">
	        <img class="scroll" alt={% trans "Scroll up" %} src="{% static "img/up2.png" %}">	
	    </div>
    </div>
{% endblock scroll_up %}

{% block header %}
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand"><a href="{% url "blog:articles_main" %}"><img class="site-logo" src="{% static "img/logo7.png" %}" alt="{% trans "Site logo" %}"></a></div>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".for_collapse">
            <span class="sr-only">{% trans "Drop-down window" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>  
        </div>

        <div class="for_collapse navbar-collapse collapse" style="padding-right: 0">
        
        <ul class="nav navbar-nav navbar-right">
         {% block nav_menu %}
          <li><a href="{% url "blog:articles_main" %}">{% trans "Articles" %}</a></li>
          <li><a href="{% url "blog:article_archive" %}">{% trans "Archive" %}</a></li>
          <li><a href="{% url "about" %}">{% trans "Author" %}</a></li>
         {% endblock nav_menu %}
        </ul>
        </div>
      </div>
    </div>
{% endblock header %}

{% block allcontent %}
<div class="container">
  <div class="row">
    <div class="col-sm-9">
{% include "generic/messages.html" %}
{% block content %}
{% endblock content %}
    </div>

{% block sidebar %}
<div class="col-sm-3">
  <div class="panel-group" id="accordion">
    {% list_categories user %}
    {% last_articles user %}
    {% filter_dates user %}
    <div id="side_apps">
     <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseApps">{% trans "Utilities" %}</a></h4>
      </div>
    <div id="collapseApps" class="panel-collapse collapse in">
      <div class="panel-body">
            <ul>
                <li><a href="{% url "pass_generator:main" %}">{% trans "Password generator" %}</a></li>
            </ul>
      </div>
    </div>
      </div>
    </div>
  </div>
    {% if user.is_superuser %}
	    <div class="pad_bot"><a class="btn btn-primary" href="{% url "blog:article_create" %}">{% trans "Add article" %}</a></div>
        <div class="pad_bot"><a class="btn btn-primary" href="{% url "admin:index" %}" target="_blank">{% trans "Admin center" %}</a></div>
    {% endif %}
</div>
{% endblock sidebar %}  
  </div>
</div>  
{% endblock allcontent %}
       
{% block pagination %}
{% if page_obj.paginator.num_pages > 1 %}
	<div class="container">
       <div class="row">
         <div class="col-sm-9 text-center">
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="{% url "blog:articles_main" page_obj.previous_page_number %}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        
        {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
            <li class="active"><span>{{ page }}</span></li>
            {% else %}
            <li><a href="{% url "blog:articles_main" page %}">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            <li class="disabled"><span>...</span></li>
        {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <li><a href="{% url "blog:articles_main" page_obj.next_page_number %}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>        
        {% endif %}
        </ul>
         </div>
        </div>
    </div>
    {% endif %}
{% endblock pagination %}

{% block footer %}
<hr class="no_margin">
    <div class="container">
	    <div class="row">
            <div class="col-sm-12">Copyright &copy; <a href="{% url "about" %}">igrik</a>, 2016 - {% now "o" %}
            <span class="pull-right">Powered by <img class="py-dj" src="{% static "img/pydj_logo.png" %}" alt="python/django"></span>
            </div>
		</div>
    </div>
{% endblock footer %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86044940-1', 'auto');
  ga('send', 'pageview');
</script>
<script id="dsq-count-scr" src="//igrik-pythonanywhere-com.disqus.com/count.js" async></script>    
</body>
</html>
